# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

#Posts locally published but not pushed to GitHub
_posts/2026-02-07-adding-a-new-service-to-existing-reverse-proxy-caddy-cloudflare-tunnel.md
_posts/2026-02-09-automating-ubuntu-server-updates-with-scripts.md
_posts/2026-02-24-tailscale-troubleshooting.md
_posts/2026-03-01-adding-new-obsidian-vault.md
